body, html{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4 {
    margin: 0.2em 0;
}

a {
    color: inherit;
    text-decoration: none;
} 

#wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5%;
    margin-right: auto;
    margin-left: auto;
}

#wrapper > * {
    margin-bottom: 0.4em;
}

#header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.header-title {
    margin-left: 0.2em;
}

.logo {
    width: 4rem;
    height: 4rem;
}

#menu {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;  
}

.menu-item {
    border-radius: 25px;
    padding: 0.5em 0.6em;
    margin: 3px;
}

.menu-item-active {
    margin: 0px;
    border-style: dotted;
}

@media screen and (max-width: 770px) {
    #wrapper {
        padding: 5%;
    }

    #menu {
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) {
    #wrapper {
        width: 75%;
        max-width: 900px;
    }
}