html, body {
    height: 100%;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

h3 {
    margin: 0.2em;
}

a {
    color: inherit;
    text-decoration: none;
} 

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: center;
}

.buttons-container button {
    margin: 5px;
}

#header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #444444;
    color: #FFFFFF;
    padding: 2px;
}

#header-icon {
    width: 36px;
    height: 36px;
    margin-right: 6px;
}

#header-bar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title-bar {
    margin-left: 10px;
    font-weight: 900;
}

#menu {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;  
    margin-right: 5px;
    color: #FFFFFF;
}

.menu-item {
    border-radius: 25px;
    padding: 0.2em 0.6em;
    margin: 6px;
}

.menu-item-active {
    margin: 0px;
    border-style: dotted;
}

#details-bar {
    margin-right: 10px;
}

#template-select-list {
    width: 250px;
    margin-right: 30px;
    margin-left: 5px;
    border-radius: 15px;
    padding: 2px;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.editor-panel {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#sidebar-panel {
    background-color: #444444;
    color: #FFFFFF;
    resize: horizontal;
    overflow: hidden;
    display: none;
    width: 30%;
    margin: 0.6em;
    padding: 0.25em;
}

#sidebar-panel > div {
    padding: 0.25em;
}

#footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #444444;
    color: #FFFFFF;
    padding: 2px;
}

#footer-bar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tree-view-controls {
    position: absolute;
    background-color: #444444;
    box-shadow: 2px 2px 5px grey;
    border-radius: 12px;
    margin: 20px;
    height: 44px;
    z-index: 1000;
}

.tree-view-controls img {
    height: 24px;
    width: 24px;
    margin: 10px;
    cursor: pointer;
}

#runtime-controls {
    right: 0px;
}

.tree-view-container.page-tile {
    flex-grow: 2;
}

#tree-view-wrapper {
    background-color: #FFFFFF;
    font-size: 0.8em;
}

#tree-view-wrapper.workflo-container {
    border: none;
}

.page-tile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page-tile > p {
    margin: 5px 0;
}

.page-tile > textarea, #tree-view-wrapper {
    font-family: 'Source Code Pro', monospace;
    flex-grow: 1;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    resize: none;
    overflow: auto;
}

.sidebar-input-text-area {
    background-color: #272727;
    color: #FFFFFF;
    border: none;
    overflow: auto;
    outline: none;
    white-space: pre;
}

.sidebar-input-text-area:read-only  {
    color: rgb(134, 133, 133);
}

.result-view-container {
    flex-grow: 0;
    margin-top: 0.5em;
}

/* Worklo Nodes */

#tree-view-wrapper {
    overflow: auto;
}

.tree-view-node {
    display: flex;
    border-radius: 15px 12px 12px 15px;
    box-shadow: 2px 2px 5px grey;
    background-color: #444444;
    color: #FFFFFF;
    font-size: 0px;
    white-space: nowrap;
}

.tree-view-caption {
    line-height: 20px;
    margin: 2px;
}

.tree-view-node > * {
    display: inline-block;
    padding: 2px 6px;
    font-size: 14px;
}

.tree-view-node.running {
    background-color: #ffffff;
    color: #444444
}

.tree-view-node.failed {
    background-color: rgb(131, 0, 0);
    color: #ffffff
}

.tree-view-node.succeeded {
    background-color: rgb(29, 145, 0);
    color: #ffffff
}

.tree-view-icon {
    border-radius: 12px 0px 0px 12px;
    padding: 2px 4px;
}

.tree-view-icon img {
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin: 2px;
}

.tree-view-icon-action {
    background-color: rgb(42, 89, 218);
}

.tree-view-icon-condition {
    background-color: rgb(196, 199, 7);
}

.tree-view-icon-selector {
    background-color: rgb(143, 62, 209);
}

.tree-view-icon-sequence {
    background-color: rgb(158, 36, 107);
}

.tree-view-icon-repeat {
    background-color: rgb(224, 85, 115);
}

.tree-view-icon-while {
    background-color: rgb(224, 85, 115);
}

.tree-view-icon-root {
    background-color: rgb(99, 98, 104);
}

.tree-view-icon-flip {
    background-color: rgb(207, 144, 7);
}

.tree-view-icon-lotto {
    background-color: rgb(12, 185, 133);
}

.tree-view-icon-wait {
    background-color: rgb(224, 125, 248);
}